
$font-light: 'Open-Sans-Light', Helvetica, Arial, sans-serif;
$font-regular: 'Open-Sans-Regular', Helvetica, Arial, sans-serif;
$font-medium: 'Open-Sans-Medium', Helvetica, Arial, sans-serif;
$font-bold: 'Open-Sans-Bold', Helvetica, Arial, sans-serif;


$main-bg-color: #ffffff;
$main-text-color: #222222;
$hover-color: #707070;
$gray-bf-color: #F0F0F0;
$black-bg-color: #111112;
$green-color: #27a17b;
$cta-color: #005BBB;
$cta-hover: #72B1F3;